*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    background-image: url(Imagenes/ba1.jpg);
    background-position: center;
    background-size: cover;
    filter:contrast(40%);
    filter: blur(10px);
    filter: saturate(80%);
    background-color: rgba(24, 22, 22, 0.797); 
    background-blend-mode: soft-light;
    height:800px;
	width: 100%;
	left:0;
	top:0;

 }
 .h1{
    text-align: center;
 }
.h5{
    justify-content: center;
}
.hono{
    width: 600px;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 400px;
    margin-left: 85px;
}
.par{
    width: 600px;
    background-color: grey;
    color: white;
    height: 400px;
    text-align: left;
    padding: 15px;
    margin-right: 85px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.form{
    width: 800px;
    text-align: center;
    justify-content: center;
    margin-bottom: 50px;
}
.foot{
    margin-bottom: 50px;
    width: 1100px;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    text-align: center;
    margin-top: 40px;
}
.col{
    width: 220px;
    height: 220px;
    align-items: center;
    display: inline-block;
    justify-content: center;
    margin-left: 150px;
}

.caja1{
    border: 5px solid blue;
    border-width: thin;
    width: 200px;
    height: 200px;
    text-align: center;
    padding: 10px;
    margin: 3px;

}
.caja2{
    border: 5px solid orange;
    border-width: thin;
    width: 200px;
    height: 200px;
    text-align: center;
    padding: 10px;
    margin: 3px;
}

.cajas{
    display: flex;
    margin:10px;
    align-items: center;
    justify-content: center;
}

.nombres{
    width: 1000px;
    height: 100px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
#nombre{
    width: 400px;
    height: 40px;
    margin-bottom: 20px;
    justify-content: center;
    margin-top: 40px;
    display: inline-flex;
    margin-left: 330px;
    padding: 10px;
    margin-right: 20px;

}

#apellido{
    width: 400px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 20px;
    justify-content: center;
    display: inline-flex;
    padding: 10px;
}

#correo{
    width: 670px;
    height: 40px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 330px;
}

.cantidad{
    margin-left: 250px;
}
#cantidad{
    width: 300px;
    height: 40px;
    padding: 10px;
    position: relative;
    display: inline-block;
    margin-right: 30px;
}
#categoria{
    width: 300px;
    height: 40px;
    padding: 10px;
    position: relative;
    display: inline-block;
}
#categoriaSelect{
    width: 300px;
    height: 40px;
    padding: 10px;
    position: relative;
    display: inline-block;
}

#pagar{
    width: 800px;
    height: 40px;
    padding: 10px;
    border-style: none;
    background-color: lightblue;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    margin-left: 250px;
}
#borrar{
    width: 400px;
    height: 40px;
    padding: 3px;
    text-align: center;
    background-color: #2fffa8;
    margin-left: 250px;
    border-style: none;
    color: white;
}
#resumen{
    width: 400px;
    height: 40px;
    padding: 3px;
    text-align: center;
    background-color: #2fffa8;
    border-style: none;
    color: white;
}